* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


p {
  font-size: 110%;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  z-index: 10;
}

img {
  max-width: 95%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}


h1 {
  font-size: 1px;
  visibility: none;
}




/* Styles for HEADER & NAV */

#headerTitle {
  font-family: sans-serif;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.56));
  color: white;
  padding: 0.5rem;
}

#headerTitle h2 {
  display: block;
  font-size: 140%;
  font-weight: bold;
}

#headerTitle h3 {
  display: block;
  font-size: 110%;
  font-weight: normal;
}

.navLink:hover > .navText {
  text-decoration: underline 0.1rem;
}

#blogNavLink {
  color: white;
  position: relative;
  display: inline;
  font-size: 125%;
  filter: drop-shadow(0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.7));
  padding: 0rem 0rem 0rem 1.5rem;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  z-index: 30;
}


#blogNavLink:active {
  font-weight: 500;
  text-decoration: underline;
}

#blogNavLink:hover {
  text-decoration: underline;
}




/*  Styles for MAIN  */

.main {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
}



/*  Styles for HOME  */

.main #homeBody {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
}

.main #homeBody h1 {
  font-size: 1px;
  visibility: hidden;
}

.main #homeBody h2 {
  font-size: 1px;
  visibility: hidden;
}

.main #homeBody #helloWorld {
  position: fixed;
  transform: translateY(55vh);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 15;
  opacity: 0%;
}

.main #homeBody #helloWorld .helloLang {
  position: absolute;
  display: block;
  top: 0;
  margin: 0 0 0 45%;
  font-family: 'Bookman', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 425%;
}

.main #homeBody #helloWorld #cnGrt {
  transform: translateY(-1rem);
  font-weight: 200;
}

.main #homeBody #helloWorld #allLangsList {
  position: absolute;
  display: block;
  top: 10rem;
  margin: 0;
  width: 100%;
  font-family: 'Bookman', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 300%;
  opacity: 0%;
}

.main #homeBody #helloWorld #allLangsList ul {
  position: relative;
  text-align: center;
  display: block;
  margin: 0;
  list-style-type: none;
  width: 100%;
  font-family: 'Bookman', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 100%;
}

.main #homeBody #helloWorld #allLangsList ul li {
  position: relative;
  text-align: center;
  display: inline;
  margin: 0 2rem;
  list-style-type: none;
  width: auto;
  font-family: 'Bookman', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 130%;
  z-index: 20;
  cursor: pointer;
}

.main #homeBody #aboutLinksAll {
  position: absolute;
  display: block;
  transform: translateY(55vh);
  width: 100%;
  z-index: 15;
  opacity: 0%;
}


.main #homeBody #aboutLinksAll .aboutLinkLang {
  position: relative;
  width: auto;
}

.main #homeBody #aboutLinksAll #enAbout {
  display: block;
  text-align: center;
}

.main #homeBody #aboutLinksAll #esAbout,
.main #homeBody #aboutLinksAll #frAbout,
.main #homeBody #aboutLinksAll #uaAbout {
  display: none;
  text-align: center;
}

.main #homeBody #aboutLinksAll .aboutLinkLang .aboutLinkItem {
  color: white;
  font-family: 'Bookman', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 375%;
  margin: 0 2.5rem;
  cursor: pointer;
}


.main #homeBody #aboutLinksAll .aboutLinkLang .aboutLinkItem:hover > .playIcon {
  opacity: 100%;
  color: white;
  transition: all 1s;
  animation: animatePlay 1s alternate infinite;
}


.main #homeBody #aboutLinksAll .aboutLinkLang .aboutLinkItem .playIcon {
  opacity: 0%;
  transform: translate(0rem);
}


@keyframes animatePlay {
  from {
    transform: translateX(0rem);
    transition: all 1s;
    opacity: 0%;
  }

  to {
    transform: translateX(0.5rem);
    transition: all 1s;
    opacity: 100%;
  }
}




/*  Styles for WORK  */
.main #myWork {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 10rem 3.5rem 2.5rem;
  color: yellow;
  background-color: black;
  z-index: 2;
  display: block;
}

.main #myWork h2 {
  font-size: 1px;
  visibility: hidden;
}



#myWork #workGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}


#myWork #workGrid .myProject {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

#myWork .myProject a {
  width: 100%;
  font-size: 170%;
  font-weight: 300;
  color: snow;
}

#myWork .myProject img {
  width: auto;
  height: auto;
  outline: 0.1rem outset rgba(170, 170, 170, 0.5);
  border-radius: 0.1rem;
}

#myWork #dailyword {
  grid-area: proj1;
}

#myWork #rocket {
  grid-area: proj2;
}

#myWork #cafe {
  grid-area: proj3;
}

#myWork #artproj {
  grid-area: proj4;
}




/*  Styles for ABOUT  */
.main #aboutMe {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: block;
  z-index: 2;
}


#aboutMe h1 {
  font-size: 1px;
  visibility: hidden;
}


#aboutMe #aboutIntro {
  position: absolute;
  text-align: center;
  top: 40vh;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: black;
  z-index: 20;
}


#aboutMe #aboutIntro .aboutTitleItem {
  position: relative;
  display: inline;
  font-family: 'Bookman', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 275%;
  opacity: 0%;
  z-index: 20;

}


#myResume {
  position: absolute;
  top: 12.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  z-index: 25;
  display: grid;
  grid-template-columns: [line1] 60% [line2] 40% [line3];
  grid-template-rows: [row1-start] 40% [row2-start] 60% [row2-end];
  grid-template-areas:
    "bio contact"
    "tech soft";
  opacity: 100%;
}


#myResume .resSection {
  margin: 1rem;
  padding: 1rem 2.5rem;
}


#myResume .fullRes {
  margin: 1rem;
  padding: 1rem 2.5rem;
  opacity: 0%;
}


#myResume h3 {
  font-size: 1px;
  visibility: hidden;
}


#myResume h4 {
  font-size: 120%;
  font-weight: normal;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}


#myResume a {
  color: white;
}


#myResume #bio {
  grid-area: bio;
  display: block;
  color: white;
  width: auto;
  height: 100%;
  z-index: 6;
}


#myResume #bio #bioHeading {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0rem;
}


#myResume #bio p {
  font-size: 125%;
  text-align: left;
  padding: 0.5rem 0rem;
}


#aboutMe #bio #moreResContent {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 30;
}


#myResume #bio #moreResContent #openCloseRes {
 position: relative;
 z-index: 30;
}


#myResume #bio #moreResContent #openCloseRes .toggleFullRes {
  position: relative;
  height: 100%;
  z-index: 30;
  font-size: 125%;
  font-weight: normal;
  cursor: pointer;
}


#myResume #bio #moreResContent #openCloseRes #openFullRes {
  display: block;
}


#myResume #bio #moreResContent #openCloseRes #closeFullRes {
  display: none;
}


#myResume #contact {
  grid-area: contact;
  text-align: center;
  display: flex;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2rem;
  width: 65%;
  border-radius: 0.25rem;
}


#myResume #contact #workWithMe {
  background-color: lightsteelblue;
  color: black;
  text-align: center;
  padding: 2rem;
  width: auto;
  margin: 0 auto;
  border: 0.1rem solid black;
  border-radius: .5rem;
}


#myResume #contact h4 {
  font-size: 130%;
  font-weight: bold;
}


#myResume #contact #workWithMe #aboutSocial {
  display: inline;
}


#myResume #contact #workWithMe #aboutSocial a {
  font-size: 225%;
  margin: 0.5rem 1rem;
  padding: 0;
  color: black;
}


#aboutMe #myResume #contact #downloadRes {
  padding: 1.5rem 0;
  width: auto;
  margin: 0 auto;
}


#aboutMe #myResume #contact #downloadRes #resLink {
  position: relative;
  margin: 0;
  font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: black;
  filter: none;
  cursor: pointer;
  z-index: 30;
}


#aboutMe #myResume #contact #downloadRes #resLink:hover {
  text-decoration: underline;
}


#myResume #techSkills {
  grid-area: tech;
}

#myResume #techSkills h4, #myResume #peopleSkills h4 {
  font-size: 1px;
  visibility: hidden;
}


#myResume #techSkills #techSkillsGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: auto;
  z-index: 6;
}


#myResume #techSkills #techSkillsGrid li {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
  width: 100%;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem gray);
  z-index: 6;
}

#myResume #techSkills #techSkillsGrid #dbSkillText {
  font-weight: normal;
  font-size: 90%;
}


#myResume #softSkills {
  display: block;
  grid-area: soft;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 2rem 0rem 1rem;
}


#myResume #softSkills #peopleSkills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
  margin: 0;
  padding: 0.5rem 0rem;
}


#myResume #softSkills #peopleSkills ul li {
  font-size: 115%;
  padding: 0.25rem 0.5rem;
}


#myResume #softSkills #langSkills {
  padding: 0.5rem 0;
}


#myResume #softSkills #langSkills ul {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0rem;
}


#myResume #softSkills #langSkills ul li {
  display: inline;
  font-size: 115%;
  padding: 0rem 2.5rem;
}



@keyframes bounceBar {
  from {
    margin: 0.5rem 0;
  }

  to {
    margin: 0.5rem 0 0.5rem -0.75rem;
  }
}

@keyframes linkline {
  0% {
    text-decoration-color: rgba(0,191,255, 0);
  }

  33% {
    text-decoration-color: rgba(0,191,255, 1);

  }

  66% {
    text-decoration-color: rgba(255, 255, 0, 0);

  }

  100% {
    text-decoration-color: rgba(255, 255, 0, 1);

  }
}
